
.usuario1{
    img {
     height: 70vh;
     width: auto;
     margin: auto;
     display: block;
     margin-top: 10vh;
     margin-bottom: 15px;
   }
  }
  
  .button{
    height: 5vh;
    width: 50vh;
    margin: auto;
    display: block;
    margin-top: 20px;
   }
  
  .label{
  height: 5vh;
  width: 10vh;
  margin: auto;
  display: flex; 
  }
  
  .home{
  height: 10vh;
  width: 100vh;
  margin: auto;
  display: flex; 
  margin-bottom: 15px;
  }
  